@import "../../consts/_consts.scss";

.wrapper {
  padding: 0 15px;
  height: 400px;
  min-width: 360px;
  max-width: 1024px;
  overflow: hidden;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;

  /* images */
  background-image: url(../../images/banner-360.png);

  @media(min-resolution: 1.5dppx) {
    background-image: url(../../images/banner-360-2x.png);
  }

  @media(min-resolution: 2.5dppx) {
    background-image: url(../../images/banner-360-3x.png);
  }

  @include responsive($tablet-width) {
    height: 500px;
    padding: 0 30px;
    background-image: url(../../images/banner-768.png);
    @media (min-resolution: 1.5dppx) {
      background-image: url(../../images/banner-768-2x.png);
    }
    @media(min-resolution: 2.5dppx) {
      background-image: url(../../images/banner-360-3x.png);
    }
  }
  @include responsive($desktop-width) {
    height: 600px;
    padding: 0 30px;
    background-image: url(../../images/banner-1024.png);
    @media (min-resolution: 1.5dppx) {
      background-image: url(../../images/banner-1024-2x.png);
    }
    @media(min-resolution: 2.5dppx) {
      background-image: url(../../images/banner-1024-3x.png);
    }
  }




  .heading-container {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include responsive($tablet-width) {
      height: 190px;
    }
    @include responsive($desktop-width) {
      height: 270px;
    }

    &:last-child {
      justify-content: flex-start;
    }

    .text {
      color: $bg-primary-color;
      text-align: center;

      @include responsive($tablet-width) {
        text-align: left;
      }
    }

    .header-text {
      @extend %h1-mobile-font;

      @include responsive($tablet-width) {
        font-size: $h1-tablet-font;
        line-height: $h1-tablet-line;
      }

      @include responsive($desktop-width) {
        font-size: $h1-desktop-font;
        line-height: $h1-desktop-line;
      }
    }

    .description-text {
      @extend %p-font;
      margin-top: 20px;
      @include responsive($tablet-width) {
        margin-top: 30px;
      }
      @include responsive($desktop-width) {
        margin-top: 22px;
      }
      color: $bg-primary-color
    }
  }
}