@import "./consts/_consts.scss";

.App {
  text-align: center;
  min-width: 360px;
  padding-top: 40px;
  max-width: 1024px;
  margin: auto;

  @include responsive($tablet-width) {
    padding-top: 60px;
  }
}
